@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
@import url('https://fonts.googleapis.com/css2?family=Delius&family=Delius+Unicase:wght@400;700&display=swap');

body {
    cursor: url("images/cursor.png"), auto;
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #ffc2d1;

}

a {
    cursor: url("images/cursor-grab.png"), grab;
    text-decoration: none;
    color:#ffb3c6
}

a:visited { text-decoration: none; color:#ffb3c6; }
a:hover { text-decoration: none; color:#ffb3c6;}
a:focus { text-decoration: none; color:#ffb3c6;}
a:hover, a:active { text-decoration: none; color:#ffb3c6;}
a:link { text-decoration: none; color:#ffb3c6; }

.logo {
    width: 120px;
    margin-left: 10%;
}

.logo:hover {
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

#content {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 150px auto auto auto 150px;
    justify-content: center;
    justify-items: stretch;
    padding: 45px;
    gap: 25px;
}

header {
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 150px 2fr 3fr;
    grid-template-rows: 150px;
    background-color: #6d6875;
    border-radius: 25px;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #ffe5ec;
    font-family: "Lato", "Lato", sans-serif;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    padding-right: 5%;
}

.nav-list a {
    background-color: #ffe5ec;
    border-radius: 25px;
    color: #6d6875;
    padding: 20px;
    width: 100px;
    text-align: center;
    
}

.nav-list a:hover {
    background-color: #ffc2d1;
    transform: scale(1.1);
}

footer {
    grid-column: 1/2;
    grid-row: 5/6;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 150px;
    grid-template-rows: 150px;
    background-color: #6d6875;
    color: #ffe5ec;
    font-family: "Lato", "Lato", sans-serif;
    border-radius: 25px;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#hero {
    grid-column: 1/2;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 99%;
    grid-template-rows: 3fr 0.5fr;
    justify-content: center;
    justify-items: stretch;
}

#about-me {
    grid-column: 1/2;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr 2.25fr;
    justify-content: center;
    justify-items: stretch;
}

#my-work {
    grid-column: 1/2;
    grid-row: 4/5;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 150px auto;
    justify-content: center;
    justify-items: stretch;
}

#hero-img {
    width: 100%;
    height: 550px;
    grid-column: 1/4;
    grid-row: 1/2;
    border-radius: 25px;
    object-fit: cover;
}

#hero-title {
    text-align: center;
    height: 150px;
    line-height: 150px;
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top: 5px;
    margin-left: 250px;
    margin-right: 250px;
    background-color: #6d6875;
    color: #ffe5ec;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: "Lato", "Lato", sans-serif;
    font-size: 4em;
}

#about-me-head {
    grid-column: 1/2;
    grid-row: 1/2;
    border-radius: 25px;
    height: 150px;
    line-height: 150px;
    margin-left: 10%;
    align-self: center;
    color: #6d6875;
    font-family: "Lato", "Lato", sans-serif;
    font-size: 4em;
    font-weight: bold;
}

#about-me-text {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-left: 10%;
    color: #6d6875;
    font-family: "Lato", "Lato", sans-serif;
    font-size: 1.5em;
}

#portrait {
    grid-column: 2/3;
    grid-row: 1/3;
    border-radius: 25px;
    margin-right: 10%;
    margin-top: 50px;
}

#my-work-head {
    grid-column: 1/3;
    grid-row: 1/2;
    text-align: center;
    color: #6d6875;
    font-family: "Lato", "Lato", sans-serif;
    font-size: 4em;
}

#my-work-text {
    grid-column: 1/3;
    grid-row: 2/3;
    text-align: center;
    margin-top: 35px;
    color: #6d6875;
    font-family: "Lato", "Lato", sans-serif;
    font-size: 1.5em;
}

#fiber-arts-card {
    grid-column: 1/2;
    grid-row: 3/4;
    text-align: center;
    display: flex;
    justify-content: center;
    justify-items: stretch;
    flex-direction: column;
    margin: 55px;
    border-style: solid;
    border-width: 5px;
    border-color: #ffe5ec;
    border-radius: 25px;
    background-color: #6d6875;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#fiber-arts-card img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#fiber-arts-card h3 {
    font-size: 2em;
    color: #ffe5ec;
    font-family: "Lato", "Lato", sans-serif;
}

#fiber-arts-card p {
    font-size: 1.5em;
    color: #ffe5ec;
    font-family: "Lato", sans-serif;
    height: 150px;
}

#fiber-arts-card .card-button {
    background-color: #ffe5ec;
    border-style: none;
    border-radius: 15px;
    height: 50px;
    line-height: 50px;
    color: #6d6875;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 20%;
    margin-right: 20%;
}

#fiber-arts-card .card-button a:visited { text-decoration: none; color:#6d6875; }

#fiber-arts-card .card-button a:link { text-decoration: none; color:#6d6875; }


#fiber-arts-card .card-button:hover {
    transform: scale(1.1);
}

#sewing-card {
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: center;
    display: flex;
    justify-content: center;
    justify-items: stretch;
    flex-direction: column;
    margin: 55px;
    border-style: solid;
    border-width: 5px;
    border-color: #ffe5ec;
    border-radius: 25px;
    background-color: #6d6875;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#sewing-card img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#sewing-card h3 {
    font-size: 2em;
    color: #ffe5ec;
    font-family: "Lato", sans-serif;
}

#sewing-card p {
    font-size: 1.5em;
    color: #ffe5ec;
    font-family: "Lato", sans-serif;
    height: 150px;
}

#sewing-card .card-button {
    background-color: #ffe5ec;
    border-style: none;
    border-radius: 15px;
    height: 50px;
    line-height: 50px;
    color: #6d6875;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 20%;
    margin-right: 20%;
}

#sewing-card .card-button a:visited { text-decoration: none; color:#6d6875; }

#sewing-card .card-button a:link { text-decoration: none; color:#6d6875; }

#sewing-card .card-button:hover {
    transform: scale(1.1);
}

.contact_me {
    grid-column: 1/2;
    grid-row: 1/2;
    padding-left: 25%;
    font-size: 1.5em;
}

#footer-info {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}

.footer_email {
    margin: 0px;
}

.footer_number {
    margin: 0px;
}

.site-plan-link {
    margin: 0px;
}

#footer_logo_link {
    grid-column: 4/5;
}